pkgbase = synapse-ec-su-axb35-linux
	pkgdesc = AXB35 DKMS driver and unified AXB35/ROG Z13 fan and power control tools
	pkgver = 1.0.2
	pkgrel = 3
	url = https://github.com/cmetz/ec-su_axb35-linux
	install = synapse-ec-su-axb35-linux.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = gcc
	makedepends = make
	depends = dkms
	depends = clang
	depends = llvm
	optdepends = linux-cachyos-headers: build the module for the CachyOS kernel
	optdepends = linux-cachyos-lts-headers: build the module for the CachyOS LTS kernel
	provides = ec-su_axb35-linux
	provides = axb35-tools
	conflicts = ec-su_axb35-linux
	conflicts = axb35-tools
	replaces = ec-su_axb35-linux
	source = axb35-tools-1.0.2.tar.gz
	source = axb35-fan-control.service
	source = dkms.conf
	source = synapse-ec-su-axb35-linux.install
	sha256sums = a3a9be9578e911936b07963042b19334e551e75cafb1995f3d0cdda97d4c58a6
	sha256sums = eadd43ebe657966989fec08d399dde64f52ea60c77bf1d6860d21d0edb8725c4
	sha256sums = 9ad1574b09a08d680439c0da0e83e964c5e3c543fe886f64e2464246ecc67d8c
	sha256sums = eb108b982afe68daa9f205923f0e33f0d8442a6948112fcb431a7713163b1f02

pkgname = synapse-ec-su-axb35-linux
