pkgbase = synapse-translate-rocm
	pkgdesc = Local SeamlessM4T specialist speech translation server for ROCm
	pkgver = 0.1.0
	pkgrel = 3
	url = https://github.com/mgiustiniani/CachyOS-PKGBUILDS
	install = synapse-translate.install
	arch = x86_64
	license = Apache-2.0
	license = CC-BY-NC-4.0
	makedepends = uv
	depends = bash
	depends = rsync
	depends = python
	depends = python-pytorch-opt-rocm
	depends = synapse-python-hf-compat
	depends = python-fastapi
	depends = uvicorn
	depends = python-pydantic
	depends = python-numpy
	depends = python-scipy
	depends = python-soundfile
	depends = python-huggingface-hub
	depends = rocm-core
	backup = etc/synapse/translate.conf
	source = synapse-translate-server
	source = synapse-translate-models
	source = translate.conf
	source = synapse-translate.service
	source = synapse-translate.sysusers
	source = synapse-translate.tmpfiles
	source = synapse-translate.install
	source = README.md
	source = LICENSE
	sha256sums = fa326e1c1ef02f1f506ccfe4e1f09f52274b46e8a7b04ea9ba720b7b511bea97
	sha256sums = f938b85eaf2c8c88072c31aa1a51a8ac5f8e1e122576987ab003cd69558eebcb
	sha256sums = 39451912c9121c63d3e5b2e7ab3f374d99ab8e60202778856914411f076cf22d
	sha256sums = 8d31b66e8d92a29288094902932f25a3939781353011f34db7c95265bf90b66c
	sha256sums = d53ffa80d5c83b434158636b501c8e2e7caafcc1b29fc67725c673bcb04d9458
	sha256sums = b42ef8faac7845518af49410f9c400971f236274660a789ff5213e64665e3482
	sha256sums = d8e63c38538c3b4a7f9c2ca3603bdfac425a61f385ef724152ffdfd6751a3b5f
	sha256sums = 1429081e886964f19b6d9f9a2c0fa406fcc0169c7ef025700de771d10054f8e1
	sha256sums = c7f1127c1c34ed75055a30abb44a215d2717fabbdaaa40bcf9b4404626031c29

pkgname = synapse-translate-rocm
