pkgbase = synapse-translate-rocm
	pkgdesc = Local SeamlessM4T specialist speech translation server for ROCm
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/mgiustiniani/CachyOS-PKGBUILDS
	install = synapse-translate.install
	arch = x86_64
	license = Apache-2.0
	license = CC-BY-NC-4.0
	makedepends = uv
	depends = bash
	depends = rsync
	depends = python
	depends = python-pytorch-opt-rocm
	depends = synapse-python-hf-compat
	depends = python-fastapi
	depends = uvicorn
	depends = python-pydantic
	depends = python-numpy
	depends = python-scipy
	depends = python-soundfile
	depends = python-huggingface-hub
	depends = rocm-core
	backup = etc/synapse/translate.conf
	source = synapse-translate-server
	source = synapse-translate-models
	source = translate.conf
	source = synapse-translate.service
	source = synapse-translate.socket
	source = synapse-translate.sysusers
	source = synapse-translate.tmpfiles
	source = synapse-translate.install
	source = README.md
	source = LICENSE
	sha256sums = fa326e1c1ef02f1f506ccfe4e1f09f52274b46e8a7b04ea9ba720b7b511bea97
	sha256sums = f938b85eaf2c8c88072c31aa1a51a8ac5f8e1e122576987ab003cd69558eebcb
	sha256sums = 3b2b59e6d0cee1c75158d5938b1f6c2fd8acc3180bfe3f3ad2c506bb3066561e
	sha256sums = 718280ca5936481eec3daf3affd9520513dbb0b1876a4a753d7efd14c99c5406
	sha256sums = 5a3ec275ebf5e8dd20ed477451b65d887e5faa1ae5baf2eb4360eeeb52942718
	sha256sums = d53ffa80d5c83b434158636b501c8e2e7caafcc1b29fc67725c673bcb04d9458
	sha256sums = b42ef8faac7845518af49410f9c400971f236274660a789ff5213e64665e3482
	sha256sums = 511cbee5f93e476a6bda061f6a58ed64e2fb2ea562a370781bbec207eaab153b
	sha256sums = b5ffa4151d91fa33705aacf7a8a3f0c8541d44e6c703374e6c5ffeec6719b6b3
	sha256sums = c7f1127c1c34ed75055a30abb44a215d2717fabbdaaa40bcf9b4404626031c29

pkgname = synapse-translate-rocm
