pkgbase = synapse-comfyui-rocm
	pkgdesc = Node-based ComfyUI visual generation workflows for Radeon ROCm
	pkgver = 0.28.0
	pkgrel = 8
	url = https://github.com/Comfy-Org/ComfyUI
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = uv
	depends = bash
	depends = python
	depends = python-pytorch-opt-rocm
	depends = python-torchvision
	depends = synapse-python-torchaudio-rocm
	depends = python-numpy
	depends = python-transformers
	depends = python-tokenizers
	depends = python-sentencepiece
	depends = python-safetensors
	depends = python-aiohttp
	depends = python-yarl
	depends = python-yaml
	depends = python-pillow
	depends = python-scipy
	depends = python-tqdm
	depends = python-psutil
	depends = python-alembic
	depends = python-sqlalchemy
	depends = python-filelock
	depends = python-av
	depends = python-requests
	depends = python-pydantic
	depends = python-pydantic-settings
	depends = python-blake3
	depends = rocm-core
	depends = synapse-model-manager>=0.4.0
	backup = etc/synapse/comfyui/config.conf
	source = ComfyUI::git+https://github.com/Comfy-Org/ComfyUI.git#commit=700821e1364eaab0e8f21c538a2131719fec57bf
	source = config.conf
	source = synapse-comfyui
	source = synapse-comfyui-doctor
	source = synapse-comfyui.service
	source = sitecustomize.py
	source = README.md
	source = comfyui-z-image-turbo.toml
	source = comfyui_model_paths.py
	source = synapse-comfyui-models
	source = z-image-turbo.json
	source = z-image-turbo-api.json
	sha256sums = SKIP
	sha256sums = aef3fed890424f08dc1b2265033e6905cc82035f57b1d167c14f70fbda64fa83
	sha256sums = 460dd7befabf99909e82fdb4e912a99aeeaf2653cc2779be725969ff500d131a
	sha256sums = 17f71bf7d1fe69a35ac11b26d68b41768a0b08fa28c88899cb3cb62f25a029eb
	sha256sums = 2c3f47244c9435d9c5cf9fb13e4806330aaf1bdd50b2ebd786101066d237341e
	sha256sums = aaf933256cce52d58c17968e4383e4a1cc827e16701d8ccf4074f66f30b8c2a1
	sha256sums = 785226732b4b4c1587173a66c3e082da0cd9f76f15024fd503594acc35530e38
	sha256sums = 41833642db6ee6e978a1b200d0014a6d14f063e330d17f3b1dd7c811b3e90c5e
	sha256sums = 66629f2988092c6dc9d8ebe280baa07912d3f1653e6de6f1a027a03efa0886a9
	sha256sums = a0e1d330ea063128d1406842666f58305fb10199906bd161a064962c14cf2bce
	sha256sums = 307904f13211cfa5405b308e748ef8035c68991b5bb4cfd4733daed9bc511b77
	sha256sums = 6bb8cf8acae459a7e27ad8ed9ce0fda5b792d948ed0cc6d6b2b5d3fc60d4ebdf

pkgname = synapse-comfyui-rocm
