pkgbase = synapse-comfyui-rocm
	pkgdesc = Node-based ComfyUI visual generation workflows for Radeon ROCm
	pkgver = 0.28.0
	pkgrel = 5
	url = https://github.com/Comfy-Org/ComfyUI
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = uv
	depends = bash
	depends = python
	depends = python-pytorch-opt-rocm
	depends = python-torchvision
	depends = synapse-python-torchaudio-rocm
	depends = python-numpy
	depends = python-transformers
	depends = python-tokenizers
	depends = python-sentencepiece
	depends = python-safetensors
	depends = python-aiohttp
	depends = python-yarl
	depends = python-yaml
	depends = python-pillow
	depends = python-scipy
	depends = python-tqdm
	depends = python-psutil
	depends = python-alembic
	depends = python-sqlalchemy
	depends = python-filelock
	depends = python-av
	depends = python-requests
	depends = python-pydantic
	depends = python-pydantic-settings
	depends = python-blake3
	depends = rocm-core
	backup = etc/synapse/comfyui/config.conf
	source = ComfyUI::git+https://github.com/Comfy-Org/ComfyUI.git#commit=700821e1364eaab0e8f21c538a2131719fec57bf
	source = config.conf
	source = synapse-comfyui
	source = synapse-comfyui-doctor
	source = synapse-comfyui.service
	source = sitecustomize.py
	source = README.md
	sha256sums = SKIP
	sha256sums = d8d45a63467dfa9d6443eaa2cd069b8c3c2dc8ecfe0cb61a4513de08c9a286ed
	sha256sums = ff2ca4bd41d4162611cec9ae9c17428c376aadb16bd167c74a4d5af850114c8f
	sha256sums = 17f71bf7d1fe69a35ac11b26d68b41768a0b08fa28c88899cb3cb62f25a029eb
	sha256sums = 2c3f47244c9435d9c5cf9fb13e4806330aaf1bdd50b2ebd786101066d237341e
	sha256sums = aaf933256cce52d58c17968e4383e4a1cc827e16701d8ccf4074f66f30b8c2a1
	sha256sums = 337903c93b3562c6ffcff5af3c61fb490369ec6c87cace7a3bf6f09485f5079b

pkgname = synapse-comfyui-rocm
