pkgbase = synapse-xdna-runtime
	pkgdesc = AMD XDNA NPU runtime integration, external SDK importer, validation, and proof tooling
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/mgiustiniani/CachyOS-PKGBUILDS
	install = synapse-xdna-runtime.install
	arch = x86_64
	license = Apache-2.0
	depends = python
	depends = synapse-python312
	depends = xrt
	depends = xrt-plugin-amdxdna
	noextract = xrt_smi_strx.a
	options = !strip
	source = xrt_smi_strx.a::https://github.com/Xilinx/VTD/raw/c79b5d21568a4ffa5b0612a8279b352fc4e1109a/archive/strx/xrt_smi_strx.a
	source = synapse-xdna
	source = synapse-xdna-import
	source = 99-amdxdna.conf
	source = README.md
	sha256sums = 57384f0d5cf3fc604b00540ed9b7542826cd961c30a2f3207357c972cc3ef32c
	sha256sums = 96e942794a752c3e3c1d58d15337e1d9512eba316538832db09899159492982a
	sha256sums = ddaaac16e8e3887581ffa3a2ae81f247493b766c3a0c4fff493a6514b64d814c
	sha256sums = 25855b5063a1b8c17b520ca6fd87d53bb78308a6bbe877f50065de97437a7f7d
	sha256sums = 7588babe92aa7a7cba1d466c49d6f361341f8752fdacd8dc506292075084c5c8

pkgname = synapse-xdna-runtime
