pkgbase = synapse-voice-ai-rocm
	pkgdesc = Local multilingual voice cloning, TTS, and Whisper ASR for Synapse Linux ROCm systems
	pkgver = 0.1.0
	pkgrel = 3
	url = https://github.com/resemble-ai/chatterbox
	install = synapse-voice-ai-rocm.install
	arch = x86_64
	license = MIT
	makedepends = uv
	makedepends = gcc
	makedepends = python-setuptools
	depends = python
	depends = python-pytorch-opt-rocm
	depends = python-transformers
	depends = python-tokenizers
	depends = python-librosa
	depends = python-numpy
	depends = python-scipy
	depends = python-soundfile
	depends = python-omegaconf
	depends = python-pykakasi
	depends = python-huggingface-hub
	depends = python-fastapi
	depends = python-httpx
	depends = python-onnx
	depends = python-tqdm
	depends = ffmpeg
	depends = whisper-cpp
	depends = ggml-rocm
	depends = rocm-core
	backup = etc/synapse/voice-ai/models.conf
	source = torchaudio-2.11.0+rocm7.1-cp314-cp314-manylinux_2_28_x86_64.whl::https://download-r2.pytorch.org/whl/rocm7.1/torchaudio-2.11.0%2Brocm7.1-cp314-cp314-manylinux_2_28_x86_64.whl
	source = models.conf
	source = chatterbox-local-models.patch
	source = torchaudio-extension-free.patch
	source = synapse-voice-api
	source = synapse-voice-tts
	source = synapse-voice-transcribe
	source = synapse-voice-enroll
	source = synapse-voice-import-models
	source = synapse-voice-api.service
	source = synapse-voice-ai-rocm.install
	source = README.synapse.md
	sha256sums = 660fd5e4ef538b674415f2990524f55fb18b44c9b540a153ebadf4646154e2be
	sha256sums = 156074498cda793532394e9df902ebac974449dcadd5d506a364a5c8d5cb1866
	sha256sums = e6d5fad2a067addb889c4774eab4867b2414087624f9b9973d72b201ec0827d3
	sha256sums = 268f4404724cf03b17d0306f3c2d5d962fce3696133bc1102a20e95a2b5e7a6d
	sha256sums = 26a74da6c8b33cfa723638aa56fde59e81dc162474c0ec7e67242d66bed38788
	sha256sums = 7b05d7d97075571897d86ed2a18f33a5079f576e95e1bf7fcff346d18285c5fd
	sha256sums = 4c6e01aee8ca429a25c674edad7ae56e06ea49d77d4074664a0fe2f9c94f0c05
	sha256sums = a1c8c3a3b936c9b86031e39f4c38ef2f47a808519538683c91cd7f34ba233cca
	sha256sums = e8f65e57538e420aef3dca925cd859313f55cd5770eca99cac7804d18ea4736a
	sha256sums = 8f8f58cb638de9efe2414e96918341aad8e3b2fce890a572d4976267a4cd449e
	sha256sums = 406e6c98ec383d829612193af22449adfde238351ba092a4705ae6ce0771503c
	sha256sums = 02789bd6d00fe032051ab836c64b1cb23c23aa0c411f5efe2a1fcf4968d6cc1f

pkgname = synapse-voice-ai-rocm
