pkgbase = synapse-voice-ai-rocm
	pkgdesc = Local multilingual voice cloning, TTS, and Whisper ASR for Synapse Linux ROCm systems
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/resemble-ai/chatterbox
	install = synapse-voice-ai-rocm.install
	arch = x86_64
	license = MIT
	makedepends = uv
	makedepends = gcc
	makedepends = python-setuptools
	depends = python
	depends = python-pytorch-opt-rocm
	depends = synapse-python-torchaudio-rocm
	depends = python-transformers
	depends = python-tokenizers
	depends = python-librosa
	depends = python-numpy
	depends = python-scipy
	depends = python-soundfile
	depends = python-omegaconf
	depends = python-pykakasi
	depends = python-huggingface-hub
	depends = python-fastapi
	depends = python-httpx
	depends = python-onnx
	depends = python-tqdm
	depends = ffmpeg
	depends = whisper-cpp
	depends = ggml-rocm
	depends = rocm-core
	optdepends = synapse-whisper-xdna: XDNA2 Whisper transcription backend
	backup = etc/synapse/voice-ai/models.conf
	source = models.conf
	source = chatterbox-local-models.patch
	source = synapse-voice-api
	source = synapse-voice-tts
	source = synapse-voice-transcribe
	source = synapse-voice-enroll
	source = synapse-voice-import-models
	source = synapse-voice-download-models
	source = synapse-voice-api.service
	source = synapse-voice-ai-rocm.install
	source = README.synapse.md
	sha256sums = 25291f6e6e82b08940aafcb77c35f1a47fb710a614323e11ba7ad5b9096de1b7
	sha256sums = e6d5fad2a067addb889c4774eab4867b2414087624f9b9973d72b201ec0827d3
	sha256sums = 26a74da6c8b33cfa723638aa56fde59e81dc162474c0ec7e67242d66bed38788
	sha256sums = 7b05d7d97075571897d86ed2a18f33a5079f576e95e1bf7fcff346d18285c5fd
	sha256sums = 4c6e01aee8ca429a25c674edad7ae56e06ea49d77d4074664a0fe2f9c94f0c05
	sha256sums = a1c8c3a3b936c9b86031e39f4c38ef2f47a808519538683c91cd7f34ba233cca
	sha256sums = e8f65e57538e420aef3dca925cd859313f55cd5770eca99cac7804d18ea4736a
	sha256sums = 7968f6fdc471c7f529da37a6f95791c684442a1c4db8f550ac77876abeaa7092
	sha256sums = 2f5f592d5f10659aac965581c0033ba906680a0a880873631837a89d54a049d7
	sha256sums = bed415264566295a61773f99c9c15cd3a97e7630323056cba4dcb21cc7527b3e
	sha256sums = 38f9ac0cbb059e4764ade65cb44084f7c3000e0f79870e164de34d51daa1a4e1

pkgname = synapse-voice-ai-rocm
