pkgbase = synapse-cvml-runtime
	pkgdesc = License-gated AMD Ryzen AI CVML importer and diagnostics
	pkgver = 0.1.0
	pkgrel = 2
	url = https://developer.amd.com/playbooks/cvml/
	arch = x86_64
	license = MIT
	depends = bash
	depends = python
	depends = git
	depends = git-lfs
	depends = cmake
	depends = opencv
	depends = vulkan-icd-loader
	depends = xrt-plugin-amdxdna
	depends = synapse-xdna-runtime
	backup = etc/synapse/cvml.conf
	source = synapse-cvml
	source = synapse-cvml-import
	source = cvml.conf
	source = README.md
	source = LICENSE
	sha256sums = 84cd7a5787ae0af128dc27a7830b5d2478efc608dbe0958e6a655f8d39f4300b
	sha256sums = ae91b7bb5b9ca2e5fc094c7eb01fa9725a2b08f9e58e28cf5761c44ce74f522f
	sha256sums = 5495a76f83267669362aa7709f2872131b36487d498e0d24283e9e410a219b1b
	sha256sums = 956ba3255c8abf69d9ac3f17d827b0d0fe61357738bb700dc7ed8fcb31a74bc3
	sha256sums = 8de71893aa802834eb243c3952c4c71f1cfe28223ee85a32d3b49aa376ff97a6

pkgname = synapse-cvml-runtime
