pkgbase = synapse-python312
	pkgdesc = Python 3.12 compatibility runtime for AMD Ryzen AI Software
	pkgver = 3.12.13
	pkgrel = 1
	url = https://www.python.org/
	arch = x86_64
	license = PSF-2.0
	makedepends = bluez-libs
	makedepends = mpdecimal
	makedepends = gdb
	makedepends = tk
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	optdepends = sqlite
	optdepends = mpdecimal: decimal module
	optdepends = xz: lzma module
	optdepends = tk: tkinter
	provides = python312
	conflicts = python312
	source = https://www.python.org/ftp/python/3.12.13/Python-3.12.13.tar.xz
	sha256sums = c08bc65a81971c1dd5783182826503369466c7e67374d1646519adf05207b684

pkgname = synapse-python312
