pkgbase = synapse-video-gen-rocm
	pkgdesc = Install-ready Wan2.1 VACE generative video backend for system ROCm PyTorch
	pkgver = 0.1.0
	pkgrel = 2
	url = https://github.com/mgiustiniani/CachyOS-PKGBUILDS
	install = synapse-video-gen.install
	arch = x86_64
	license = Apache-2.0
	makedepends = uv
	depends = bash
	depends = ffmpeg
	depends = python
	depends = python-pytorch-opt-rocm
	depends = synapse-python-hf-compat
	depends = python-opencv
	depends = python-numpy
	depends = python-pillow
	depends = python-imageio-ffmpeg
	depends = python-safetensors
	depends = python-requests
	depends = python-regex
	depends = python-packaging
	depends = python-filelock
	depends = python-psutil
	depends = python-yaml
	depends = python-fsspec
	depends = python-tqdm
	depends = python-typing_extensions
	depends = python-huggingface-hub
	depends = rocm-core
	backup = etc/synapse/video-gen.conf
	source = synapse-video-gen
	source = synapse-video-gen-models
	source = video-gen.conf
	source = synapse-video-gen.install
	source = README.md
	source = LICENSE
	sha256sums = 4fd6548832b5fc12ca8fef7f02b9270411cdd6bc7b7dd88f3961b6bbbff7f93b
	sha256sums = 34df3082a1b23519cd45d830157f86c5ed26e843a2cad5e2c568a8d109d90f62
	sha256sums = 62c00c2c5c69d0587b369a1f5773a8e9fa3a146afe236873e3906f5c6cd14dc6
	sha256sums = 1a454a80a833b68a4e9580986d293e658dbb7ef940fc9916da1496b06f12581e
	sha256sums = 135005fb15c31d8991ba88208a41fc1ad6e8b43e9c81825dbee1da57ca995766
	sha256sums = d1947b079f75c7cb3f62ed72f6be8e4b5656e7d67889113c0ae1a22f8a93b0f8

pkgname = synapse-video-gen-rocm
